In [2]:
!pip install textblob
import pandas as pd
from textblob import TextBlob
import matplotlib.pyplot as plt

Collecting textblob
  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: nltk>=3.8 in c:\users\baska\anaconda3\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\baska\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\baska\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\baska\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\baska\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\baska\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
   -- ------------------------------------ 41.0/626.3 kB 151.3 kB/s eta 0:00:04
   -- ------------------------------------ 41.0/626.3 kB 151.3 kB/s eta 0:00:04
   --- ----------------------------------- 61.4/626.3 kB 172.4 kB/s eta 0:00:04
   ----- --------------------------------- 92.2/626.3 kB 227.6 kB/s eta 0:00:03
   ------ ------------------------------- 112.6/626.3 kB 261.9 kB/s eta 0:00:02
   ------ ------------------------------- 112.6/626.3 kB 261.9 kB/s eta 0:00:02
   ------ ------------------------------- 112.6/626.3 kB 261.9 kB/s eta 0:00:02
   ------ ------------------------------- 112.6/626.3 kB 261.9 kB/s eta 0:00:02
   ------- ------------------------------ 122.9/626.3 kB 194.9 kB/s eta 0:00:03
   -------- ----------------------------- 143.4/626.3 kB 218.2 kB/s eta 0:00:03
   --------- ---------------------------- 153.6/626.3 kB 218.2 kB/s eta 0:00:03
   --------- ---------------------------- 153.6/626.3 kB 218.2 kB/s eta 0:00:03
   --------- ---------------------------- 153.6/626.3 kB 218.2 kB/s eta 0:00:03
   -------------- ----------------------- 235.5/626.3 kB 272.1 kB/s eta 0:00:02
   --------------- ---------------------- 256.0/626.3 kB 275.8 kB/s eta 0:00:02
   --------------- ---------------------- 256.0/626.3 kB 275.8 kB/s eta 0:00:02
   ---------------- --------------------- 276.5/626.3 kB 274.8 kB/s eta 0:00:02
   ----------------- -------------------- 286.7/626.3 kB 272.1 kB/s eta 0:00:02
   ------------------ ------------------- 307.2/626.3 kB 279.4 kB/s eta 0:00:02
   ------------------- ------------------ 317.4/626.3 kB 276.8 kB/s eta 0:00:02
   -------------------- ----------------- 337.9/626.3 kB 279.6 kB/s eta 0:00:02
   --------------------- ---------------- 358.4/626.3 kB 285.6 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 283.1 kB/s eta 0:00:01
   ------------------------ ------------- 399.4/626.3 kB 296.4 kB/s eta 0:00:01
   ------------------------ ------------- 399.4/626.3 kB 296.4 kB/s eta 0:00:01
   ------------------------ ------------- 399.4/626.3 kB 296.4 kB/s eta 0:00:01
   ------------------------ ------------- 399.4/626.3 kB 296.4 kB/s eta 0:00:01
   ----------------------------- -------- 481.3/626.3 kB 314.0 kB/s eta 0:00:01
   ------------------------------ ------- 501.8/626.3 kB 320.8 kB/s eta 0:00:01
   -------------------------------- ----- 532.5/626.3 kB 327.6 kB/s eta 0:00:01
   --------------------------------- ---- 553.0/626.3 kB 330.7 kB/s eta 0:00:01
   ---------------------------------- --- 563.2/626.3 kB 324.7 kB/s eta 0:00:01
   ----------------------------------- -- 583.7/626.3 kB 330.5 kB/s eta 0:00:01
   ------------------------------------ - 604.2/626.3 kB 333.3 kB/s eta 0:00:01
   -------------------------------------  614.4/626.3 kB 327.6 kB/s eta 0:00:01
   -------------------------------------- 626.3/626.3 kB 334.1 kB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.18.0.post0

In [8]:
path=r"D:\twitter_training.csv"
data = pd.read_csv(path)
data.head(5)

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [12]:
col_names = ['ID', 'Entity', 'Sentiment', 'Content']
df = pd.read_csv(path, names=col_names)
df.head()

,ID,Entity,Sentiment,Content
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [13]:
df.shape

(74682, 4)

In [14]:
df.describe

<bound method NDFrame.describe of          ID       Entity Sentiment  \
0      2401  Borderlands  Positive
1      2401  Borderlands  Positive
2      2401  Borderlands  Positive
3      2401  Borderlands  Positive
4      2401  Borderlands  Positive
...     ...          ...       ...
74677  9200       Nvidia  Positive
74678  9200       Nvidia  Positive
74679  9200       Nvidia  Positive
74680  9200       Nvidia  Positive
74681  9200       Nvidia  Positive

                                                 Content
0      im getting on borderlands and i will murder yo...
1      I am coming to the borders and I will kill you...
2      im getting on borderlands and i will kill you ...
3      im coming on borderlands and i will murder you...
4      im getting on borderlands 2 and i will murder ...
...                                                  ...
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

[74682 rows x 4 columns]>

In [15]:
df.isnull().sum()

ID             0
Entity         0
Sentiment      0
Content      686
dtype: int64

In [16]:
df.dropna(axis=0 , inplace=True)

In [17]:
df.isnull().sum()

ID           0
Entity       0
Sentiment    0
Content      0
dtype: int64

In [18]:
df.duplicated().sum()

2340

In [19]:

df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [20]:

df.shape

(71656, 4)

In [21]:
sentiment_counts = df['Sentiment'].value_counts()
sentiment_counts

Sentiment
Negative      21698
Positive      19713
Neutral       17708
Irrelevant    12537
Name: count, dtype: int64